<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-sm-4 col-xl-6">
      <h4 class="mb-1 mt-0">Dashboard</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body p-0">
          <h5 class="card-title header-title border-bottom p-3 mb-0">Overview</h5>
          <!-- Overview data -->
          <app-overview value='121,000'
                        icon='users'
                        title="Total Visitors"
                        classNames="px-3 py-4">
          </app-overview>
          <app-overview value='21,000'
                        icon='image'
                        title="Total Product Views"
                        classNames="px-3 py-4">
          </app-overview>
          <app-overview value='$21.5'
                        icon='shopping-bag'
                        title="Revenue Per Visitor"
                        classNames="px-3 py-4"></app-overview>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body p-0">
          <h5 class="card-title header-title border-bottom p-3 mb-0">Overview</h5>
          <!-- Overview data -->
          <app-overview value='121,000'
                        icon='users'
                        title="Total Visitors"
                        classNames="px-3 py-4">
          </app-overview>
          <app-overview value='21,000'
                        icon='image'
                        title="Total Product Views"
                        classNames="px-3 py-4">
          </app-overview>
          <app-overview value='$21.5'
                        icon='shopping-bag'
                        title="Revenue Per Visitor"
                        classNames="px-3 py-4"></app-overview>
        </div>
      </div>
    </div>
  </div>
</div>
